@page "/asistencia/reporte/{FechaMes:datetime?}"
@attribute [Authorize(Roles = "Intendente")]

<PageTitle>Reporte de Asistencia</PageTitle>

@if (_username != null)
{
    <h1 class="h3">Reporte de Asistencia para <strong>@_username</strong></h1>

    <div class="row justify-content-center mb-5">
        <div class="col-md-6 col-lg-4">
            <MudDatePicker AdornmentColor="Color.Secondary" Variant="Variant.Outlined" DateFormat="dddd, dd MMMM yyyy"
                       Label="@(DisplayName.GetDisplayName(_filters, m => m.FechaMes))"
                       For="@(() => _filters.FechaMes)" DateChanged="FechaInicialChanged"
                       Date="_filters.FechaMes" />

        </div>
    </div>

    <MudTable ServerData="@(new Func<TableState, Task<TableData<AsistenciaPersonalDTO>>>(GetServerData))"
          @ref="_table" @bind-RowsPerPage="_pageSize" Breakpoint="Breakpoint.Sm"
          Striped="true" Hover="true" AllowUnsorted="false" FixedHeader="true" Height="45vh">
        <HeaderContent>
            <MudTh>
                <MudTableSortLabel SortLabel="sucursal" T="AsistenciaPersonalDTO">
                    @(DisplayName.GetDisplayName(_model, m => m.NombreServicio))
                </MudTableSortLabel>
            </MudTh>

            <MudTh Class="text-center">
                <MudTableSortLabel SortLabel="fecha" T="AsistenciaPersonalDTO">
                    @(DisplayName.GetDisplayName(_model, m => m.FechaEntrada))
                </MudTableSortLabel>
            </MudTh>

            <MudTh Class="text-center">
                Hora de Entrada
            </MudTh>

            <MudTh Class="text-center">
                Hora de Salida
            </MudTh>

            <MudTh Class="text-center">
                @(DisplayName.GetDisplayName(_model, m => m.MinutosLaborados))
            </MudTh>
        </HeaderContent>

        <RowTemplate>
            <MudTd>
                @context.NombreServicio
            </MudTd>

            <MudTd Class="text-center">
                @context.FechaEntrada.ToString("ddd dd MMM yyy")
            </MudTd>

            <MudTd Class="text-center">
                @context.FechaEntrada.ToString("HH:mm")
            </MudTd>

            <MudTd Class="text-center">
                @if (context.FechaSalida != null)
                {
                    @context.FechaSalida.Value.ToString("HH:mm")
                }
            </MudTd>

            <MudTd Class="text-center">
                @((context.MinutosLaborados / 60).ToString("##0.##"))
            </MudTd>
        </RowTemplate>

        <NoRecordsContent>
            <MudText>No se encontraron registros.</MudText>
        </NoRecordsContent>

        <LoadingContent>
            <MudText>Cargando...</MudText>
        </LoadingContent>

        <PagerContent>
            <MudTablePager PageSizeOptions="@_pageSizeOption" RowsPerPageString="Mostrar por página" InfoFormat="@_allItemsText" />
        </PagerContent>
    </MudTable>
}
