@page "/usuarios/edit/password/{Username}"
@attribute [Authorize(Roles = "Administrador")]

<PageTitle>Cambiar Contraseña</PageTitle>

<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="h3">Cambio de contraseña para <b>@Username</b></h1>

        @if (_model == null)
        {
            <div class="d-flex justify-content-center my-5">
                <MudProgressCircular Color="Color.Info" Indeterminate="true" />
            </div>
        }
        else
        {
            if (_model.ForgotPassword)
            {
                <div class="input-group justify-content-center mb-3">
                    <EditForm Model="@_passwordChangeModel" OnValidSubmit="OnValidPasswordSubmit">
                        <DataAnnotationsValidator />

                        <hr />

                        <div class="input-group justify-content-center mb-3">
                            <MudTextField AdornmentColor="Color.Primary" OnlyValidateIfDirty="true"
                                  Variant="Variant.Outlined" InputType="@_passwordInputType"
                                  Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon"
                                  OnAdornmentClick="PasswordIconPressed" AdornmentAriaLabel="Show Password"
                                  Label="@(DisplayName.GetDisplayName(_passwordChangeModel, m => m.NewPassword))"
                                  HelperText="Debe contener al menos una mayúscula, un caracter
                                        especial y un número, además de 6 caracteres como mínimo."
                                  @bind-Value="_passwordChangeModel.NewPassword"
                                  For="@(() => _passwordChangeModel.NewPassword)" />
                        </div>

                        <div class="input-group justify-content-center mb-3">
                            <MudTextField AdornmentColor="Color.Primary" OnlyValidateIfDirty="true"
                                  Variant="Variant.Outlined" InputType="@_passwordConfirmType"
                                  Adornment="Adornment.End" AdornmentIcon="@_passwordConfirmIcon"
                                  OnAdornmentClick="ConfirmPasswordIconPressed" AdornmentAriaLabel="Show Password"
                                  Label="@(DisplayName.GetDisplayName(_passwordChangeModel, m => m.ConfirmNewPassword))"
                                  HelperText="La misma contraseña del campo anterior."
                                  @bind-Value="_passwordChangeModel.ConfirmNewPassword"
                                  For="@(() => _passwordChangeModel.ConfirmNewPassword)" />
                        </div>

                        <hr />

                        <div class="input-group justify-content-end mb-3">
                            <MudButton ButtonType="ButtonType.Submit" Color="Color.Error"
                               Variant="Variant.Filled" EndIcon="fa fa-sync-alt">
                                Cambiar Contraseña
                            </MudButton>
                        </div>
                    </EditForm>
                </div>
            }
            else
            {
                <div class="mb-5">
                    <p class="h6" style="text-align: justify">
                        Este usuario no ha solicitado cambio de contraseña. Corrobore esta información
                        con el usuario en cuestión o contacte a un administrador.
                    </p>
                </div>
            }
        }
    </div>
</div>
