@page "/asistencia/reporte/{Username}/{ServicioId:int}/{FechaMes:datetime}"
@attribute [Authorize(Roles = "Gerente")]

<PageTitle>Reporte de Asistencia</PageTitle>

<h1 class="h3">Reporte de Asistencia para <strong>@Username</strong></h1>

<div class="row justify-content-between mb-5">
    <div class="col">
        <MudDatePicker AdornmentColor="Color.Secondary" Variant="Variant.Outlined" DateFormat="MMMM yyyy"
                       Label="@(DisplayName.GetDisplayName(_filters, m => m.FechaMes))"
                       For="@(() => _filters.FechaMes)" DateChanged="FechaInicialChanged"
                       Date="_filters.FechaMes" FixDay="1" OpenTo="OpenTo.Month" />

    </div>

    <div class="col">
        <MudSelect Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter"
                   Label="@(DisplayName.GetDisplayName(_filters, m => m.ServicioId))"
                   For="@(() => _filters.ServicioId)" T="int?" ValueChanged="ServicioIdChanged"
                   Value="_filters.ServicioId">
            @foreach (ServicioDTO servicio in _servicios)
            {
                <MudSelectItem T="int?" Value="servicio.Id">@servicio.Descripcion</MudSelectItem>
            }
        </MudSelect>
    </div>
</div>

<MudTable ServerData="@(new Func<TableState, Task<TableData<AsistenciaPersonalDTO>>>(GetServerData))"
          @ref="_table" @bind-RowsPerPage="_pageSize" Breakpoint="Breakpoint.Sm" 
          Striped="true" Hover="true" AllowUnsorted="false" FixedHeader="true" Height="45vh">
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortLabel="username" T="AsistenciaPersonalDTO">
                @(DisplayName.GetDisplayName(_model, m => m.Username))
            </MudTableSortLabel>
        </MudTh>

        <MudTh>
            <MudTableSortLabel SortLabel="nombre" T="AsistenciaPersonalDTO">
                @(DisplayName.GetDisplayName(_model, m => m.NombreUsuario))
            </MudTableSortLabel>
        </MudTh>

        <MudTh>
            <MudTableSortLabel SortLabel="apellido" T="AsistenciaPersonalDTO">
                @(DisplayName.GetDisplayName(_model, m => m.ApellidoUsuario))
            </MudTableSortLabel>
        </MudTh>

        <MudTh>
            <MudTableSortLabel SortLabel="sucursal" T="AsistenciaPersonalDTO">
                @(DisplayName.GetDisplayName(_model, m => m.NombreServicio))
            </MudTableSortLabel>
        </MudTh>

        <MudTh Class="text-center">
            <MudTableSortLabel SortLabel="fecha" T="AsistenciaPersonalDTO">
                @(DisplayName.GetDisplayName(_model, m => m.FechaEntrada))
            </MudTableSortLabel>
        </MudTh>

        <MudTh Class="text-center">
            Hora de Entrada
        </MudTh>

        <MudTh Class="text-center">
            Hora de Salida
        </MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd>
            @context.Username
        </MudTd>

        <MudTd>
            @context.NombreUsuario
        </MudTd>

        <MudTd>
            @context.ApellidoUsuario
        </MudTd>

        <MudTd>
            @context.NombreServicio
        </MudTd>

        <MudTd Class="text-center">
            @TimeZoneInfo.ConvertTimeFromUtc(context.FechaEntrada, TimeZoneInfo.Local).ToString("ddd dd MMM yyy")
        </MudTd>

        <MudTd Class="text-center">
            @TimeZoneInfo.ConvertTimeFromUtc(context.FechaEntrada, TimeZoneInfo.Local).ToString("HH:mm")
        </MudTd>

        <MudTd Class="text-center">
            @if (context.FechaSalida != null)
            {
                @TimeZoneInfo.ConvertTimeFromUtc(context.FechaSalida.Value, TimeZoneInfo.Local).ToString("HH:mm")
            }
        </MudTd>
    </RowTemplate>

    <NoRecordsContent>
        <MudText>No se encontraron registros.</MudText>
    </NoRecordsContent>

    <LoadingContent>
        <MudText>Cargando...</MudText>
    </LoadingContent>

    <PagerContent>
        <MudTablePager PageSizeOptions="@_pageSizeOption" RowsPerPageString="Mostrar por página" InfoFormat="@_allItemsText" />
    </PagerContent>
</MudTable>
