@page "/asistencia/reportes"
@attribute [Authorize(Roles = "Gerente")]

<PageTitle>Reporte de Asistencia</PageTitle>

<h1 class="h3">Reporte de Asistencia</h1>

<div class="row justify-content-between align-content-center mb-5">
    <div class="col">
        <MudDatePicker AdornmentColor="Color.Secondary" Variant="Variant.Outlined"
                       Label="@(DisplayName.GetDisplayName(_filters, m => m.FechaMes))"
                       For="@(() => _filters.FechaMes)" DateChanged="FechaInicialChanged"
                       Date="_filters.FechaMes" />
    </div>

    <div class="col">
        <MudDatePicker AdornmentColor="Color.Secondary" Variant="Variant.Outlined"
                       Label="@(DisplayName.GetDisplayName(_filters, m => m.FechaFinal))"
                       For="@(() => _filters.FechaFinal)" DateChanged="FechaFinalChanged"
                       Date="_filters.FechaFinal" />
    </div>

    <div class="col">
        <MudSelect Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter"
                   Label="@(DisplayName.GetDisplayName(_filters, m => m.ServicioId))"
                   For="@(() => _filters.ServicioId)" T="int?" ValueChanged="ServicioIdChanged"
                   Value="_filters.ServicioId">
            @foreach (ServicioDTO servicio in _servicios)
            {
                <MudSelectItem T="int?" Value="servicio.Id">@servicio.Descripcion</MudSelectItem>
            }
        </MudSelect>
    </div>

    <div class="col justify-content-center align-content-center">
        <MudButton OnClick="() => GetReporte()" Color="Color.Success" Variant="Variant.Filled"
                   StartIcon="fa fa-file-excel">Importar a Excel</MudButton>
    </div>
</div>

<MudTable ServerData="@(new Func<TableState, Task<TableData<AsistenciaGeneralDTO>>>(GetServerData))"
          @ref="_table" @bind-RowsPerPage="_pageSize" Breakpoint="Breakpoint.Sm"
          Striped="true" Hover="true" AllowUnsorted="false" FixedHeader="true" Height="45vh">
    <HeaderContent>
        <MudTh>
            <MudTableSortLabel SortLabel="username" T="AsistenciaGeneralDTO">
                @(DisplayName.GetDisplayName(_model, m => m.Username))
            </MudTableSortLabel>
        </MudTh>

        <MudTh>
            <MudTableSortLabel SortLabel="nombre" T="AsistenciaGeneralDTO">
                @(DisplayName.GetDisplayName(_model, m => m.UsuarioNombre))
            </MudTableSortLabel>
        </MudTh>

        <MudTh>
            <MudTableSortLabel SortLabel="apellido" T="AsistenciaGeneralDTO">
                @(DisplayName.GetDisplayName(_model, m => m.UsuarioApellido))
            </MudTableSortLabel>
        </MudTh>

        <MudTh Class="text-center">
            @(DisplayName.GetDisplayName(_model, m => m.HorasLaboradas))
        </MudTh>

        <MudTh></MudTh>
    </HeaderContent>

    <RowTemplate>
        <MudTd>
            @context.Username
        </MudTd>

        <MudTd>
            @context.UsuarioNombre
        </MudTd>

        <MudTd>
            @context.UsuarioApellido
        </MudTd>

        <MudTd Class="text-center">
            @context.HorasLaboradas.ToString("##0.##")
        </MudTd>

        <MudTd Class="text-center">
            <MudButton Href="@($"asistencia/reporte/{context.Username}")" Color="Color.Primary" EndIcon="fa fa-info-circle"
                       Variant="Variant.Filled">
                Detalles del Reporte
            </MudButton>
        </MudTd>
    </RowTemplate>

    <NoRecordsContent>
        <MudText>No se encontraron registros.</MudText>
    </NoRecordsContent>

    <LoadingContent>
        <MudText>Cargando...</MudText>
    </LoadingContent>

    <PagerContent>
        <MudTablePager PageSizeOptions="@_pageSizeOption" RowsPerPageString="Mostrar por página" InfoFormat="@_allItemsText" />
    </PagerContent>
</MudTable>
