@page "/turnos/create"

<PageTitle>Alta de Turno</PageTitle>

<div class="row justify-content-center">
    <div class="col-md-6">
        <h1 class="h3">Dar de Alta Turno</h1>

        <EditForm Model="@_model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator />

            <div class="input-group mb-3">
                <MudTextField AdornmentColor="Color.Primary" OnlyValidateIfDirty="true"
                              Label="@(DisplayName.GetDisplayName(_model, m => m.Descripcion))"
                              HelperText="El rango de días (Separados por un '-' o, si son más de dos,
                                por una ','), seguido por el rango de horas (Separados de la misma
                                forma. Utilizar el sistema de 24 horas), pueden ser abreviaciones.
                                Ejemplo: Lunes-Viernes 06:00-16:00 "
                              @bind-Value="_model.Descripcion" For="@(() => _model.Descripcion)" />
            </div>

            <div class="input-group mb-3">
                <MudCheckBox Color="Color.Primary" T="bool"
                             Label="@(DisplayName.GetDisplayName(_model, m => m.Habilitado))"
                             @bind-Checked="_model.Habilitado" For="@(() => _model.Habilitado)" />
            </div>

            <div class="input-group justify-content-between mb-3">
                <MudButton Href="servicios" Color="Color.Secondary" Variant="Variant.Filled"
                           StartIcon="fa fa-angle-left">Regresar</MudButton>

                <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Variant="Variant.Filled"
                           EndIcon="fa fa-check">Registrar</MudButton>
            </div>
        </EditForm>
    </div>
</div>
