@page "/servicios"

<PageTitle>Servicios</PageTitle>

<h1 class="h3">Listado de Servicios</h1>

<div class="text-end mb-3">
    <MudButton Href="servicios/create" EndIcon="fa fa-plus" Variant="Variant.Filled" Color="Color.Primary">Dar de Alta Servicio</MudButton>
</div>

<MudTable ServerData="@(new Func<TableState, Task<TableData<SucursalServicio>>>(GetServerData))" Striped="true"
          Hover="true" Breakpoint="Breakpoint.Sm" @ref="_table" AllowUnsorted="false" @bind-RowsPerPage="_page">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Registros</MudText>
        <MudSpacer />
        <MudTextField ValueChanged="@(s => OnSearch(s))" Placeholder="Search" Adornment="Adornment.Start" IconSize="Size.Medium"
                      AdornmentIcon="@Icons.Material.Filled.Search" Class="mt-0" T="string"></MudTextField>
    </ToolBarContent>
    <HeaderContent>
        <MudTh><MudTableSortLabel SortLabel="descripcion" T="SucursalServicio" >Name</MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Descripcion">@context.Descripcion</MudTd>
        <MudTd><MudButton Href="@($"servicios/edit/{context.Id}")" Color="Color.Info" EndIcon="fa fa-edit">Editar</MudButton></MudTd>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No se encontraron registros.</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Cargando...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager PageSizeOptions="@_pageSizeOption" RowsPerPageString="Registros por página" />
    </PagerContent>
</MudTable>